.idea
/.idea
/.vscode
.htaccess
/.htaccess
studypeers.com/*
home/*
Stephenoduor/*
josebautista/*
.well-known/
.cgi-bin
/application/config/database.php
error_log
uploads/*
assets_d/js/socket-config.js
