.idea
/.idea
/.vscode
.htaccess
/.htaccess
.env
studypeers.com/*
home/*
Stephenoduor/*
josebautista/*
.well-known/
.cgi-bin
/application/config/database.php
error_log
uploads/*
assets_d/js/socket-config.js
application/composer.lock
studypeers_developent.pem
studypeers-pm.pem
