<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
SetEnv APPLICATION_ENVIRONMENT production
SetEnv DB_NAME studypee_studypeers
SetEnv DB_USER root
SetEnv DB_PASS root
</IfModule>
