.tabslisting .nav li a {
    padding: 10px 20px !important;
    color: #9592a7;
    font-weight: 700;
    border-radius: 100px;
}
.tabslisting .nav{
    border-bottom:none;
}
.tabslisting .nav li {
    background: #e9e9e9;
    border-radius: 100px;
    margin: 0 8px 8px 0;
}
.tabslisting .nav li:hover{
    border-radius: 100px;
}
.tabslisting li.active {
    background: #ea2e7e;
}
.tabslisting .nav-tabs li.active a {
    color: #ffffff;
    background: transparent;
    border: 1px solid #ea2e7e;
    border-radius: 20px;
}
.tabslisting .nav li {
    vertical-align: middle;
    display: inline-block;
    float: none !important;
}
.content-card{
    background: #fff;
    border-radius: 8px;
    padding: 15px 20px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.content-card .title-wrap h3{
    color: #65676b;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}
.peers-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.peer-left-info{
    display: flex;
    align-items: center; 
}
.peers-img-wrap{
    width:60px;
    height:60px;
    margin-right:10px;
    border-radius:50%;
    overflow: hidden;
}
.peers-img-wrap img{
    width:100%;
    height:100%;
    border-radius:50%;
    object-fit: cover;
    object-position: center center;
}
.peer-right-info ul{
    display: flex;
    align-items: center;
}
.basic-info{
    width:calc(100% - 60px);
}
.basic-info ul{
    display: flex;
    align-items: center;
}
.basic-info ul li{
    padding-right:10px;
}
.basic-info ul li a{
    color:#ea2e7e;
}
.basic-info h3{
    font-size:16px;
    font-weight:500;
    margin:0;
}
.title-wrap{
    margin-bottom:10px;
}
.peer-right-info ul li{
    padding-left:20px;
    color:#1ae1bd;
}
.peer-right-info ul li a img{
    width:30px;
}
.peer-right-info ul li a{
    color:#1ae1bd;
}
.peers-row{
    margin-top:15px;
}
.view-all-section{
    padding:15px 0 5px;
    text-align: center;
}
.badgeList ul li.badge.badge3:hover a{
    color:#fff;
}
.view-all-section a{
    color: #185aeb;
    font-size: 13px;
    font-weight: 600;
}
.user-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:10px;
}
.user-top-left{
    display: flex;
    align-items: center;
}
.user-top-left .user-img{
    width:50px;
    height:50px;
}
.user-top-left figure{
    width:100%;
    height:100%;
    overflow: hidden;
    border-radius:50%;
}
.user-top-left figure img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center center;
}
.user-name-wrap{
    width:calc(100% - 50px);
    padding-left:10px;
}
.user-name-wrap h3{
    font-weight: 700;
    font-size: 16px;
    color: #2a234f;
    margin: 0 0 5px;
}
.timeline-action{
    display: flex;
    align-items: center;
}
.timeline{
    color: #a9a8a8;
}
.timeline-action a{
    width:30px;
    height:30px;
    margin-left:10px;
    border-radius:50px;
    transition:0.3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline-action a:hover{
    background:#f2f2f2;
}
.like-comment-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.like-wrap ul,.comment-wrap ul{
    display: flex;
    align-items: center;
}
.like-wrap li,.comment-wrap li{
    margin-right:10px;
}
.like-wrap a,.comment-wrap a{
    width:20px;
    display: inline-block;
    vertical-align: middle;
    color:#a9a8a8;
}
img{
    max-width:100%;
    height:auto;
    display: block;
}
.like-wrap li a{
    color:#a9a8a8;
}
.content-info-area{
    margin-bottom:15px;
}
.post-row-wrap{
    padding-bottom:50px;
    position: relative;
}
.post-row-wrap:before{
    width:100%;
    height:1px;
    background:#f2f2f2;
    position: absolute;
    content:"";
    left:0;
    bottom:25px;

} 
.content-img > figure{
    width:160px;
    height:120px;
    margin-right:15px;
    float: left;
}
.content-img > figure > img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.documentName{
    display: flex;
    align-items: center;
}
.documentName img{
    margin-right:10px;
}
.star-rating ul{
    display: flex;
    align-items: center;
}
.star-rating ul li{
    margin-right:5px;
}
.star-rating ul li a{
    width:16px;
    display:inline-block;
}
.eventActionWrap {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.eventActionWrap.author  {
    margin:10px 0;
}
.eventActionWrap.author p {
    color:#ef639e;
    font-weight: 600;
}

.eventActionWrap ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.eventActionWrap ul li {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    border:2px solid #fff;
    box-shadow: 0px 3px 8px 0px rgba(42, 35, 79, 0.08);
    position: absolute;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transform: scale(1.0);
}
.eventActionWrap ul li:hover {
    z-index: 99;
    transform: scale(1.1);
}
.eventActionWrap ul li img {
    width:100%;
    height:100%;
}
.eventActionWrap ul li:first-child {
    left:0;
}
.eventActionWrap ul li:nth-child(2) {
    left:20px;
}
.eventActionWrap ul li:nth-child(3) {
    left:45px;
}
.eventActionWrap ul li:nth-child(4) {
    left:70px;
}
.eventActionWrap ul li:nth-child(5) {
    left:95px;
}
.eventActionWrap ul li:last-child {
    left: 95px;
    background: rgb(0 0 0 / 45%);
}
.eventActionWrap ul li.more {
    border: 0px;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event_action {
    padding: 12px 18px;
    border-radius: 10px;
    background-color: #546de5;
    border: 1px solid #546de5;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    transition: all 100ms ease-in-out;
    white-space: nowrap;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 8px 0 0;
}
.event-description {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.event-description .left {    
    font-size: 15px;
    font-weight: 400;
    width: auto;
    display: flex;
    align-items: center;
}
.event-description .left img {
    margin-right: 10px;
    width:16px;
}
.event-description .right { 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
}
.event-description .right figure {
    margin-right:10px;
}
.event-description .right figcaption {
    font-size: 14px;
    font-weight: 400;
    margin-right:10px;
}
.event-description .right a {
    font-weight:500;
    cursor: pointer;
    font-size: 15px;
    color: #546de5;
}
.event-description .right a:hover {
    text-decoration: underline;
}
.pagination-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 8px;
    padding: 0 15px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    margin:15px 0;
}
.createBox {
    background: #fff;
    border-radius: 8px;
    padding: 20px 17px 10px 17px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.createBox .noFeedWrapper{
    text-align: center;
}
.createBox .noFeedWrapper figure{
    width:160px;
    height:160px;
    margin:0 auto;
}
.post-section .dotsBullet.dropdown .dropdown-menu {
    min-width: 170px;
    padding: 10px 15px;
    right:0!important;
    left:auto!important;
}
.post-section .dropdown .dropdown-menu li a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
}
.post-section .dropdown .dropdown-menu li a .left {
    margin-right: 15px;
    width: 20px;
    height: 30px;
}
.post-section .dotsBullet.dropdown .dropdown-menu li a .right {
    padding-left: 0;
}
.post-section .chatMsgBox .right {
    width: calc(100% - 20px);
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.post-section .socialAction li a span{
    top:0;
}
.big-image{
    width:100%;
    height:300px;
}
.big-image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center center;
}
.post-section .socialAction {
    padding: 0 0px 15px;
}
.post-section .mediaAction {
    position: absolute;
    bottom: 30px;
    right: 40px;
}
.peer-right-info ul li a{
    white-space:nowrap;
}
@media (max-width: 1280px) {
    .basic-info h3{
        font-size:14px;
    }
    .basic-info ul li{
        font-size:13px;
    }
    .peer-right-info ul li{
        padding-left:10px;
    }
}
@media (max-width: 1200px) {
    .peers-row{
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    .peer-left-info{
        width:100%;
    }
    .peer-right-info{
        width:100%;
        padding-left:60px;
    }
}
@media (max-width: 1100px) {
    .basic-info ul{
        flex-direction: column;
        align-items: flex-start;
    }
    .peer-left-info{
        margin-bottom:10px;
    }
}
@media (max-width: 1024px) {
    .peer-right-info{
        width:100%;
        padding-left:40px;
    }
    .peers-img-wrap{
        width:40px;
        height:40px;
    }
    .basic-info{
        width:calc(100% - 40px);
    }
    .basic-info ul{
        flex-direction: row;
        align-items: center;
    }
    .content-img > figure {
        width: 140px;
        height: 100px;
        margin-right: 15px;
        float: left;
    }
    .view-all-section {
        padding: 10px 0 0px;
        text-align: center;
    }
    .event-description{
        flex-direction: column;
    }
    .event-description .left{
        margin-bottom:10px;
    }
    .tabslisting .nav li a {
        padding: 8px 15px !important;
    }
    .event_action {
        padding: 10px 15px;
    }
}
@media (max-width: 767px) {
    .content-img > figure {
        width: 140px;
        height: 100px;
        margin-right: 15px;
        float: left;
    }
    .view-all-section {
        padding: 10px 0 0px;
        text-align: center;
    }
    .event-description{
        flex-direction: column;
    }
    .event-description .left{
        margin-bottom:10px;
    }
    .tabslisting .nav li a {
        padding: 8px 15px !important;
    }
    .event_action {
        padding: 10px 15px;
    }
}

@media (max-width: 576px) {
    .basic-info ul{
        flex-direction: column;
        align-items: flex-start;
    }
}