/***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET FOR Appilo               ||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1. imported styles 
* 2. miscelnious styles 
* 3. header styles 
* 4. banner styles 
* 5. fun fact styles 
* 6. app features styles 
* 7. features styles 
* 8. video box styles 
* 9. pricing styles 
* 10. intigration styles 
* 11. blog styles 
* 12. footer styles 
* 13. inner banner styles 
* 14. sidebar styles 
* 15. testimonials styles 
* 16. app screenshot styles 
* 17. how app work styles 
****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/
/************************** 
* 1. imported styles 
***************************/
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(bootstrap.min.css);
/*@import url(bootstrap-select.min.css);*/
/*@import url(../plugins/flaticons/flaticon.css);*/
/*@import url(owl.carousel.css);*/
/*@import url(owl.theme.default.min.css);*/
/*@import url(nouislider.css);*/
/*@import url(nouislider.pips.css);*/
/*@import url(jquery.bootstrap-touchspin.css);*/
/*@import url(magnific-popup.css);*/
/*@import url(swiper.css);*/
/*@import url(jquery.bxslider.min.css);*/
/*@import url(animate.min.css);*/
/*@import url(hover-min.css);*/
@import url(<?=base_url('assets/plugins/fontawesome-5/css/fontawesome-all.min.css')?>);
/************************** 
* 2. miscelnious styles 
***************************/
/*body {
  font-family: 'Poppins';
  color: #656565;
  font-size: 14px;
  line-height: 27px;
}

a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none !important;
  outline: none !important;
}
*/


/************************** 
* 17. how app work styles 
***************************/
.how-app-work-section .title {
  margin-bottom: 40px;
}
.how-app-work-section .title h3 {
  margin: 0;
  color: #170B35;
  font-size: 32px;
  font-weight: 600;
}
.how-app-work-section .how-app-work-content-wrap {
  padding-left: 85px;
}
.how-app-work-section .how-app-work-content {
  padding-top: 30px;
  padding-bottom: 45px;
  margin-bottom: 40px;
  position: relative;
}
.how-app-work-section .how-app-work-content:before {
  content: '';
  width: 2px;
  height: 100%;
  background: url(../img/gradient-sep.png) no-repeat center center;
  position: absolute;
  top: 0;
  left: 45px;
}
.how-app-work-section .single-how-app-work {
  padding-left: 10px;
}
.how-app-work-section .single-how-app-work + .single-how-app-work {
  margin-top: 60px;
}
.how-app-work-section .single-how-app-work .icon-box,
.how-app-work-section .single-how-app-work .text-box {
  display: table-cell;
  vertical-align: middle;
}
.how-app-work-section .single-how-app-work .icon-box .inner {
  width: 74px;
  height: 74px;
  background: #2bfd0d;
  background: -webkit-gradient(left top, right top, color-stop(0%, #2bfd0d), color-stop(98%, #64e08b), color-stop(100%, #64e08b));
  background: -webkit-gradient(linear, left top, right top, from(#2bfd0d), color-stop(98%, #64e08b), to(#64e08b));
  background: linear-gradient(to right, #2bfd0d 0%, #64e08b 98%, #64e08b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bfd0d', endColorstr='#64e08b', GradientType=1);
  position: relative;
  border-radius: 50%;
  text-align: center;
}
.how-app-work-section .single-how-app-work .icon-box .inner:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.how-app-work-section .single-how-app-work .icon-box .inner i {
  background: -webkit-gradient(linear, left top, right top, from(#2bfd0d), color-stop(98%, #64e08b), to(#64e08b));
  background: linear-gradient(to right, #2bfd0d 0%, #64e08b 98%, #64e08b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 74px;
  font-size: 44px;
  position: relative;
}
.how-app-work-section .single-how-app-work .icon-box .inner:hover {
  -webkit-box-shadow: 0px 18px 37px rgba(212, 50, 151, 0.2);
          box-shadow: 0px 18px 37px rgba(212, 50, 151, 0.2);
}
.how-app-work-section .single-how-app-work .icon-box .inner:hover i {
  color: #fff;
  -webkit-text-fill-color: #fff;
}
.how-app-work-section .single-how-app-work .icon-box .inner:hover:before {
  opacity: 0;
}
.how-app-work-section .single-how-app-work .icon-box .active .inner {
  -webkit-box-shadow: 0px 18px 37px rgba(212, 50, 151, 0.2);
          box-shadow: 0px 18px 37px rgba(212, 50, 151, 0.2);
}
.how-app-work-section .single-how-app-work .icon-box .active .inner i {
  color: #fff;
  -webkit-text-fill-color: #fff;
}
.how-app-work-section .single-how-app-work .icon-box .active .inner:before {
  opacity: 0;
}
.how-app-work-section .single-how-app-work .text-box {
  padding-left: 40px;
}
.how-app-work-section .single-how-app-work .text-box h4,
.how-app-work-section .single-how-app-work .text-box p {
  margin: 0;
}
.how-app-work-section .single-how-app-work .text-box h4 {
  font-size: 20px;
  color: #150A33;
  font-weight: 500;
}
.how-app-work-section .single-how-app-work .text-box p {
  font-size: 14px;
  line-height: 27px;
  color: #656565;
  margin-top: 10px;
}
.how-app-work-section .download-btn {
  display: inline-block;
  vertical-align: middle;
  background: #2bfd0d;
  background: -webkit-gradient(left top, right top, color-stop(0%, #2bfd0d), color-stop(98%, #64e08b), color-stop(100%, #64e08b));
  background: -webkit-gradient(linear, left top, right top, from(#2bfd0d), color-stop(98%, #64e08b), to(#64e08b));
  background: linear-gradient(to right, #2bfd0d 0%, #64e08b 98%, #64e08b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bfd0d', endColorstr='#64e08b', GradientType=1);
  position: relative;
  padding: 12px 0;
  padding-left: 80px;
  border-radius: 28px;
  padding-right: 40px;
}
.how-app-work-section .download-btn:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 28px;
  background: #fff;
  opacity: 1;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.how-app-work-section .download-btn i.fab {
  font-size: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#2bfd0d), color-stop(98%, #64e08b), to(#64e08b));
  background: linear-gradient(to right, #2bfd0d 0%, #64e08b 98%, #64e08b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 35px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.how-app-work-section .download-btn span.inner {
  position: relative;
  display: block;
}
.how-app-work-section .download-btn span.avail,
.how-app-work-section .download-btn span.store-name {
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#2bfd0d), color-stop(98%, #64e08b), to(#64e08b));
  background: linear-gradient(to right, #2bfd0d 0%, #64e08b 98%, #64e08b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  line-height: 1em;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.how-app-work-section .download-btn span.avail {
  font-size: 12.5px;
}
.how-app-work-section .download-btn span.store-name {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 5px;
}
.how-app-work-section .download-btn.active, .how-app-work-section .download-btn:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(212, 50, 151, 0.27);
          box-shadow: 0px 15px 30px rgba(212, 50, 151, 0.27);
}
.how-app-work-section .download-btn.active:before, .how-app-work-section .download-btn:hover:before {
  opacity: 0;
}
.how-app-work-section .download-btn.active i.fab,
.how-app-work-section .download-btn.active span.avail,
.how-app-work-section .download-btn.active span.store-name, .how-app-work-section .download-btn:hover i.fab,
.how-app-work-section .download-btn:hover span.avail,
.how-app-work-section .download-btn:hover span.store-name {
  color: #fff;
  -webkit-text-fill-color: #fff;
}
.how-app-work-section .download-btn.active {
  margin-right: 15px;
}
.how-app-work-section .how-app-work-slider-wrapper {
  position: relative;
  width: 305px;
  height: 655px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  -webkit-box-shadow: 0px 18px 37px rgba(212, 50, 151, 0.2);
          box-shadow: 0px 18px 37px rgba(212, 50, 151, 0.2);
}
.how-app-work-section .how-app-work-screen-mobile-image {
  background-image: url(../img/fature-moc.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  height: 655px;
  left: calc(50% + 0.5px);
  position: absolute;
  top: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 310px;
  z-index: 2;
}
.how-app-work-section .bx-wrapper {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 50px;
}
.how-app-work-section .bx-wrapper .slide-item {
  text-align: center;
}
.how-app-work-section .bx-wrapper .slide-item img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}
.how-app-work-section .pager-item {
  display: block;
}
.how-app-work-section .pager-item + .pager-item {
  margin-top: 60px;
}
.how-app-work-section .pager-item.active .icon-box .inner:before {
  opacity: 0;
}
.how-app-work-section .pager-item.active .icon-box .inner i {
  color: #fff;
  -webkit-text-fill-color: #fff;
}
.how-app-work-section .how-app-work-slider-content {
  position: relative;
}
.how-app-work-section .how-app-work-slider-content img.circled-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
/************************** 
* 15. testimonials styles 
***************************/
.testimonials-style-one .container {
  max-width: 970px;
  padding: 49px 0 0;
  position: relative;
}
.testimonials-style-one .container > img.testi-thumb {
  position: absolute;
  top: 0;
  left: 0;
}
.testimonials-style-one .title {
  margin-bottom: 15px;
}
.testimonials-style-one .title h3 {
  margin: 0;
  color: #170B35;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  padding-left: 35px;
}

.single-testimonial {
  padding-top: 10px;
}
.single-testimonial .img-box, .single-testimonial .text-box {
  display: table-cell;
  vertical-align: top;
}
.single-testimonial .img-box {
  width: 450px;
  margin-bottom: 30px;
}
.single-testimonial .img-box img {
  max-width: none;
  width: auto;
  margin-left: 35%;
  margin-right: 35%;
  position: relative;
  top: 40px;
  -webkit-box-shadow: 0px 15px 33.6px rgba(212, 50, 151, 0.3);
          box-shadow: 0px 15px 33.6px rgba(212, 50, 151, 0.3);
  border-radius: 50%;
}
.single-testimonial .text-box img {
  max-width: none;
  width: auto;
}
.single-testimonial .text-box p {
  font-size: 18px;
  color: #656565;
  line-height: 26px;
  letter-spacing: .01em;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 20px;
}
.single-testimonial .text-box h3 {
  margin: 0;
  color: #170B35;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.single-testimonial .text-box span {
  color: #6B40BF;
  font-size: 16px;
}

.testimonials-slider .bx-wrapper {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  margin-bottom: 0;
}
.testimonials-slider .bx-wrapper ul.slider {
  padding: 0;
  margin: 0;
}
.testimonials-slider .bx-wrapper .bx-controls-direction {
  text-align: center;
}
.testimonials-slider .bx-wrapper .bx-controls-direction a {
  text-indent: 0;
  background-image: none;
  color: #6B40BF;
  font-size: 27px;
  position: relative;
  top: 10px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.testimonials-slider .bx-wrapper .bx-controls-direction a:hover {
  color: #d43297;
}
.testimonials-slider .bx-wrapper .bx-prev {
  left: 0px;
  margin-right: 25px;
}
.testimonials-slider .bx-wrapper .bx-next {
  right: 0px;
}

#testimonials-slider-pager a.pager-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#testimonials-slider-pager a.pager-item:nth-child(1) {
  top: 92%;
  left: 33%;
}
#testimonials-slider-pager a.pager-item:nth-child(2) {
  top: 94%;
  left: 18%;
}
#testimonials-slider-pager a.pager-item:nth-child(3) {
  top: 74%;
  left: 2%;
}
#testimonials-slider-pager a.pager-item:nth-child(4) {
  top: 36%;
  left: 0;
}
#testimonials-slider-pager a.pager-item:nth-child(5) {
  top: 18%;
  left: 11%;
}
#testimonials-slider-pager a.pager-item:nth-child(6) {
  top: 9%;
  left: 25%;
}

@media (max-width: 768px) {
  #testimonials-slider-pager {
    display: none;
  }
}


/*HOROSCOPE*/
.side-bar-color .cust-ui-horo2 {
             margin-top: -110px;
         }

         .side-bar-color .cust-ui-horo1 {
             margin-top: -110px;
         }

         .cust-ui-horo2 {
             margin-top: 25px !important;
         }

         .side-bar-color .cust-ui-horo1 li {
             display: inline-block;
             margin: 5px 0px;
             width: 7.99999999999%;
         }

         .side-bar-color .cust-ui-horo1 li a img {
             width: 95px;
             height: 95px;
             /*margin: 5px 0px;*/
         }

         .side-bar-color .cust-ui-horo1 li span {
             display: block;
             font-size: 12px;
             color: #222;
             font-weight: 600;
             text-align: center;
             margin-top: 5px;
         }

         .side-bar-color .cust-ui-horo1 li a {
             display: block;
             width: 100px;
             height: 100px;
             border-radius: 50%;
             text-align: center;
             margin: 0 auto;
             border: 3px solid #ff9900;
         }
